usr/bin/general_framework
usr/share/general_framework
usr/local/bin/general_framework
usr/bin/general-framework
usr/share/general-framework
usr/local/bin/general-framework
usr/local/share/general-framework
*.exe
*.deb
*.sqlite-*
*.sqlite
docs/canvaskit
*/canvaskit
.dart_tool/
build/
ephemeral/
/build/
generate_glx_*
node_modules/
flutter/ephemeral
android/.gradle
android/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/ephemeral
tmp/
temp/